[Desktop Entry]
Version=1.0
Type=Application

Name=Ventoy Plugson Launcher
Comment=Launch Ventoy Plugson

Exec=python3 /home/cameron/Utilities/VentoyPlugsonLauncher/main.py
Icon=/home/cameron/Utilities/VentoyPlugsonLauncher/assets/VentoyLogo.png

Terminal=false
Categories=Utility;
Keywords=Ventoy;Plugson;USB;Boot;ISO;

StartupNotify=true
