[Desktop Entry]
Version=1.0
Type=Application

Name=Ventoy Plugson Launcher
Comment=Launch Ventoy Plugson

Exec=ventoy-plugson-launcher
Icon=ventoy-plugson-launcher

Terminal=false
Categories=Utility;
Keywords=Ventoy;Plugson;USB;Boot;ISO;

StartupNotify=true
